.container {
    position: relative;
  border: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  zoom: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
  margin-top: 200px;
}

#bordering {
    text-align: center;
    text-transform: uppercase;
    color:black;
    font-family: "Lucida Console", "Courier New", cursive;
}
.headImage {
  height: auto;
  display: block;
  margin-left: 40px;
  margin-right: auto;
  width: 50%;

}

.text {
  color:white;
  font-size: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media screen and (min-width: 480px) {
    body {
      background-color: white;
    }
  }