.containerMath{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.inputNumber{
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;

}
.math-button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    border-radius: 7px; 
    cursor: pointer;
    margin-left: 30px;
}