.container {
    position: relative;
  width: 25%;
  border: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  zoom: normal;
}

#bordering {
    text-align: center;
    text-transform: uppercase;
    color:black;
    font-family: "Lucida Console", "Courier New", cursive;
}
.headImage {
  height: auto;
  display: block;
  margin-left: 40px;
  margin-right: auto;
  width: 50%;

}

.overlay {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: palevioletred;
}

.container:hover .overlay {
    opacity: 0.8;
  }

.text {
  color:white;
  font-size: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media screen and (min-width: 480px) {
    body {
      background-color: white;
    }
  }